node_modules/
dist/
allure-results/
allure-report/
allure-results-bdd/
allure-report-bdd/
bdd-html-report/
.features-gen/
.env.local
cookies.txt
*.env
.env

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
